.typesLayer {
    grid-area: type;
    margin: 5rem auto 3rem;
    padding: 2em 1em;
    text-align: center;
}

.containerType {

    background: #cadfe3;
    display: inline-block;
    position: relative;

    width: 100%;

    border-radius: 30px;
    padding: 50px 250px 20px 250px;
}

.containerType::before {

}

.parent {
    margin-top: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: bold;
    font-size: 18px;
    position: relative;
}
.parent img {
    margin-left: 5rem;
    width: 500px;
}
.child {
    padding-right: 3rem;
}
.child textarea {
    height: auto;
    width: 300px;
    padding: 0.2rem;
    border-radius: 0.5rem;
    background: transparent;
    border: 2px solid var(--color-primary-variant);
    resize: none;
    color: black;
}

.child div {
    text-align: left;
    margin: 10px;
}

.child div p {
    font-size: 16px;
    padding-bottom: 10px;
}
.name h2 {
    font-family: 'Ubuntu Condensed', sans-serif;
    position: relative;
    text-align: left;
    font-size: 22px;
    margin-top: 10px;
    padding-bottom: 10px;
    color: black;
    padding-top: 10px;
}

/*textarea {
    font-size: 16px;
    width: 180px;
    height: 30px;
    resize: none;
    border-radius: 10px;
}*/

p{
    color: black;
}
