/*
.typesLayer {
    text-align: right;
}

.parent {
    text-align: center;
    position: relative;
    color: lavender;
    font-weight: bold;
    width: 200px;
    height: 300px;
}
.parent img {
    width: 200px;
    height: 300px;
    border-radius: 10px;
}


.child {
    position: absolute;
    display: table;
    width: 200px;
    height: 7em; !* работает также как min-height, то есть будет растягиваться пока не поместится всё содержимое *!
    text-align: center;
    background: #fff5d7;
    vertical-align: middle;
    bottom: 0;
    background: rgba(34, 36, 66, 0.1);
    border-radius: 10px;
}

.child div {
    text-align: center;
vertical-align: middle;
}



.name h2 {
    font-family: 'Ubuntu Condensed', sans-serif;
    position: relative;
    text-align: center;
    font-size: 16px;
    margin-top: 10px;
    padding-bottom: 10px;
    color: lavender;
    padding-top: 10px;
}
*/

/*
.blockContainer {
    position: absolute;
    padding: 20px 50px;
    text-align: center;
    border-radius: 30px;
    margin: 50px 50px;
    border: 2px solid darkslategrey;
    box-shadow: 3px 2px 8px black;
}

.blockContainer:hover {
    background-color: lavender;
}

.blockContainer img {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px black;
}

.textareaBlock {
    text-align: center;
    display:  flex;
}

.textareaBlock textarea{
    margin-top: 15px;
    margin-right: 20px;
    width: 5em;
    height: 20px;

}

.back {
    position: relative;

}
*/

.typesLayer {
    margin: 1em auto 2em;
    padding: 2em 1em;
    text-align: center;
}

.containerType {
    display: inline-block;
    position: relative;
    width: 30%;

    border-radius: 10px;
    padding-top: 10px;
}

.containerType::before {

}

.parent {
    text-align: center;

    font-weight: bold;
    font-size: 18px;
    position: relative;
}
.parent img {
}

.child textarea {
    height: auto;
    width: 100%;
    padding: 0.5rem;
    border-radius: 0.5rem;
    background: transparent;
    border: 2px solid var(--color-primary-variant);
    resize: none;
    color: black;
}

.child div {
    text-align: left;
    margin: 10px;
}

.child div p {
    padding-bottom: 10px;
}
.name h2 {
    font-family: 'Ubuntu Condensed', sans-serif;
    position: relative;
    text-align: center;
    font-size: 18px;
    margin-top: 10px;
    padding-bottom: 10px;
    color: black;
    padding-top: 10px;
}

/*textarea {
    font-size: 16px;
    width: 180px;
    height: 30px;
    resize: none;
    border-radius: 10px;
}*/

p{
    color: black;
}
