.nav {
    background-color: rgba(27,38,44, 0.9);
    grid-area: nav;
    margin-top: -160px;
    margin-bottom: 2rem;
    border-bottom-right-radius: 30px;
    padding-left: 10%;
    padding-top: 30%;
}

.item {
    display: flex;
    justify-content: left;
    align-items: center;

    width: 270px;
    height: 50px;

    margin-bottom: 15px;
    margin-top: 15px;

    border-radius: 10px;
    background: rgba(86, 123, 129, 0.6);
    transition: 0.2s;

    /*padding-left: 10px;*/

}
.item:hover {
    color: #091928;
    background: var(--color-primary);
    transition: 0.2s;
}

.item a {
    padding-bottom: 15px;
    padding-top: 15px;
    transition: 0.2s;
}

.item a.active{
    color: #091928;
    background: var(--color-primary);
    border-radius: 10px;
}

.item a.active {
    width: 270px;
    border-radius: 10px;
    transition: 0.2s;
}

.item a {
    font-size: 16px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    padding-left: 10px;
    border-radius: 10px;
}

.text {

}



/*
.text:hover {
    transition: 0.2s;
    background-color: rgba(59, 144, 204, 0.98);
    box-shadow: 0 7px 8px 0 rgba(0,0,0,0.24), 0 10px 25px 0 rgba(0,0,0,0.19);
}*/
