.app-wrapper {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-areas:
  "nav view view"
  "nav type type"
  "nav type type";


  grid-template-rows: 480px 40%;
  grid-template-columns: 1fr 4fr;
  background: rgba(244,247,247, 1);
  /* grid-gap: 10px; */
}

.app-wrapper-content {
  grid-area: type;
}
